<%- contentFor('body') %>

<div>
    <label for="">username</label>
    <input id="username" type="text" name="username"> <br>
    <label for="">password</label>
    <input id="password" type="password" name="password"><br>
    <button id="submit" type="submit">Login</button>
</div>
<script src="/assets/scripts/xmlhttprequest.js"></script>
<script src="/assets/scripts/login.js"></script>